/* Empty. Add your own CSS if you like */

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.bold {
  font-weight: 700;
}

.lublue {
  color: #63B2E2;
}

.lublue-bg {
  background-color: #63B2E2;
}

.lublue-lt {
  color: #8CCAEF;
}

.lublue-dk {
  color: #409CD2;
}

.lublue-dk-bg {
  background-color: #409CD2;
}

.hootsi {
  color: #6b5eae;
}

.hootsi-bg {
  background-color: #6b5eae;
}

.logrank{
  color: #F8A01E;
}

.logrank-bg{
  background-color: #F8A01E;
}

.brand {
  height: 30px;
  margin-top: 5px;
}

.box {
  padding: 5%;
  background-color: white;
}

.icon {
  padding: 5em;
  font-family: 'Montserrat', sans-serif;
}

.header {
  color: #3F434E;
  padding-top: 5%;
  font-family: 'Montserrat', sans-serif;
}

.subheader {
  color: #656971;
  padding-top: 5%;
  font-family: 'Montserrat', sans-serif;
  text-align: right;
}

.border {
  background-color: pink
}

.project {
  height: 25em;
}

@media only screen and (max-width: 768px) {
  .subheader {
    text-align: left;

  }
  .project {
    height: 25em;
  }
}
