/* Empty. Add your own CSS if you like */

body {
  font-family: soleil, sans-serif;

}



.navi {
  box-shadow: none !important;
}

.bold {
  font-weight: 700;
}

.luisito {
  color: #63B2E2 !important;
}

.luisito-bg {
  background-color: #63B2E2;
}

.luisito-lt {
  color: #8CCAEF;
}

.luisito-dk {
  color: #409CD2;
}

.luisito-dk-bg {
  background-color: #409CD2;
}

.hootsi {
  color: #6b5eae;
}

.hootsi-blk {
  color: #1A1A1A;
}

.hootsi-bg {
  background-color: #6b5eae;
}

.hootsi-bg-dk {
  background-color: #1B182C;
}

.hootsi-bg-lt {
  background-color: #D9D2FB;
}

.logrank {
  color: #F8A01E;
}

.logrank-bg {
  background-color: #F8A01E;
}

.dsa-green-bg {
  background-color: #A1FDB5;
}

.dsa-bg-dk {
  background-color: #800409;
}

.dtm {
  color: #CF142B;
}

.dtm-bg {
  background-color: #CF142B;
}


.vigil {
  color: #500A80;
}

.vigil-bg {
  background-color: #500A80;
}

.brand {
  height: 30px;
  margin-top: 5px;
}

.box {
  padding: 5%;
  background-color: white;
}

.icon {
  padding: 5em;
  font-family: 'Montserrat', sans-serif;
}

.header {
  color: #3F434E;
  padding-top: 5%;
  font-family: 'Montserrat', sans-serif;
}

.subheader {
  color: #656971;
  padding-top: 5%;
  font-family: 'Montserrat', sans-serif;
  text-align: right;
}

.border {
  background-color: pink
}

.project {
  height: 25em;
}

.modal .col-12 {
  padding: 0 !important;
}

.project-img:hover {
  transition: transform .3s;
  /* Animation */
  transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
  .subheader {
    text-align: left;

  }

  .project {
    height: 15em;
  }


}
